/* table button wrong & right  */
body {
  margin: 0;
  padding: 0;
  background: url("https://picsum.photos/200/300/?blur");
  background-repeat: no-repeat;
  background-size: cover;
}

.commonButtonCss {
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.commonButtonCss:hover {
  letter-spacing: 3px;
}

.button-style{
   padding: 2%;
   margin: 2%;
}
.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
  }
  
  .css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
  }


.maintable{
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

#outputTable{
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

#outputTable2{
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
table,
td,
tr {
    border-radius: 8px;
    border: 2px solid;
    text-align: center;
    border-collapse: collapse;
    color: antiquewhite;


}

tr:hover {
    background-color: coral;
}
.bg-color{
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

}

.head-text{
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

.text{
    color: rgb(211, 161, 203);
    text-shadow: 1px 1px 2px #000000;
}
  

input:active, input:focus{
  box-shadow: none;
  outline: none;
}

.btn-style{
  padding: 2%;
}

.over-flow{
  overflow-x: auto;
}

@media (max-width: 575.98px) { 
.mainTable  tr td {
    width: 100%;
  }
  .mainTable tr {

     display: flex;
     flex-direction: column;
  }
  .mainTable th{
    display: none;
  }
 }


 /* new */

